

a{
    display: flex;
    color: black;
    align-items: center;
    gap: 5px;
}

.back-icon {
  display: flex;
  color: var(--button-color);
  font-size: 35px;
  transform: rotate(180deg);
  align-items: center;
}

.certification-container {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.certification-container li img {
  width: 75px;
  height: 75px;
  border-radius: 10%;
  object-fit: cover;
}
