@keyframes display-text {
  20%, 100% {
    display: none;
  }
}


@media (max-width: 1440px) {
  .container {
    padding: 2rem 4rem;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem 2rem;
  }

  .quotes {
    top: 50px;
    max-width: 300px;
    font-size: 0.9rem;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-me"
      "project"
      "experience"
      "education"
      "certification"
      "tech-stack"
      "skill"
      "list"
      "training-picture";
    gap: 1rem;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-image img {
    width: 120px;
    height: 120px;
  }

  .profile-info h2 span {
    font-size: 1.5rem;
  }

  .profile-info p {
    font-size: 0.9rem;
  }

  .list {
    flex-direction: column;
    gap: 1rem;
  }

  .time-clock {
    margin: 0 auto;
  }

  .goals,
  .organization,
  .social-container,
  .contact {
    min-width: 100%;
  }

  .quotes {
    position: relative;
    max-width: 100%;
    text-align: center;
    top: 0;
    right: 0;
    margin-bottom: 1rem;
  }

  #darkToggle {
    position: relative;
    margin-bottom: 1rem;
    width: 250px;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 425px) {
  .container {
    padding: 0.5rem 0.8rem;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .profile h1 {
    padding: 0;
    font-size: 1.5rem;
    margin: 0;
  }

  .profile-image img {
    width: 100px;
    height: 100px;
  }

  .profile-info h2 span {
    font-size: 1.2rem;
  }

  .quotes {
    font-size: 0.8rem;
  }

  #darkToggle {
    width: 100%;
  }

  .list {
    gap: 0.5rem;
  }

  .goals,
  .organization,
  .social-container,
  .contact {
    padding: 0.8rem;
    width: 100%;
  }
}


@media (max-width: 320px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-me"
      "education"
      "project"
      "experience"
      "certification"
      "tech-stack"
      "skill"
      "list"
      "training-picture";
  }

  .btn-profile a {
    max-width: 100px;
    padding: 5px;
    font-size: 0.8rem;
  }
}