a{
    display: flex;
    color: black;
    align-items: center;
    gap: 5px;
}

.back-icon {
  display: flex;
  color: var(--button-color);
  font-size: 35px;
  transform: rotate(180deg);
  align-items: center;
}
